* {
  box-sizing: border-box;
  --xcolor: #28536B;
  --ocolor: #C2948A;
}

body {
  margin: 0;
  background-color: #B1ADC6;
  font-family: 'Seymour One', sans-serif;
}

.title {
  text-align: center;
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  margin-top: 3rem;
}

/* box  */
.box {
  background-color: #bdb9d3;
  border: 4px solid #B1ADC6;
  width: 8rem;
  height: 8rem;
  text-align: center;
  font-size: 5em;
  font-family: 'Seymour One', sans-serif;
  font-weight: bold;
  line-height: 5rem;
  cursor: crosshair;
}

.x {
  color: var(--xcolor);

}

.o {
  color: var(--ocolor);
}

.box:hover {
  box-shadow: 0px 0px 15px white;
}

/* board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  place-items: center;
  justify-content: center;
}

/* scoreboard */
.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5em;
  background-color: white;
  margin: 3rem auto 0;
  box-shadow: 0px 0px 8px gray;
  border-radius: 0.5rem;
  font-weight: bold;
}


.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.x-score {
  color: var(--xcolor);
  border-bottom: 10px solid var(--xcolor);
  border-radius: 0.5rem 0 0 0.5rem;
}

.o-score {
  color: var(--ocolor);
  border-bottom: 10px solid var(--ocolor);
  border-radius: 0 0.5rem 0.5rem 0;
}

.inactive {
  border-bottom: 10px solid transparent;
}

/* reset button */
.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #7d7798;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 4rem auto;
  display: block;
  cursor: crosshair;
}

.reset-btn:hover {
  background-color: #7d7798b6;
}

/* reset scoreboard button */
.reset-scoreboard-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: #7d7798;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto 4rem;
  display: block;
  cursor: crosshair;
}
